[Unit]
Description=Backed]nd Service

[Service]
User=Sri
Environment=DB_Host="172.31.80.105"
ExecStart=/bin/node /app/index.js
SyslogIdentifier=backend 

[Install]
WantedBy=multi-user.target